// Navigation Styles here

nav {
    display: flex;
    justify-content: space-around;
    padding-right: 1.2rem;
    a {
        text-decoration: none;
        color: black;
        padding: 0rem 1.2rem;
    }
}